@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

body {
    font-family: "Inter", sans-serif;
}

.pulsing-logo {
  animation: pulse-size 3s ease-in-out infinite;
}

@keyframes pulse-size {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}